html {
    height:100vh;
}
body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;    
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}

h3,h4,h5 {
    font-weight:700;
}
h3 {
    font-size:32px;
}
h5{
    font-size:18px;
}
#skills-page h3 {
    color: #5f4242;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.7);
    margin-bottom: 30px;
}
#portfolio-page h3 {
    color: #35513b;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.7);
    margin-bottom: 30px;
}
a,a:hover {
    color:#fff;
    text-decoration:none;
}
#cover-page {
    position:relative;
    background-image: url("../images/colorfulstars.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #30303c;
}
.content {
    position:absolute;
    width:75%;
    top:170px;
    left:15%;            
}
.portfolio-content,
.skills-content {
    top:140px;
}
.index-content {
    color:#fff;
}
.index-content ul {
    margin:20px 0 0 0;
}
.index-content ul li {
    display:inline-block;
}
.index-content ul li a {
    position:relative;                
    font-size:20px;
    margin-right:15px;
    transition: all .2s ease-in;
    color:#dbafa6;
    text-shadow:2px 2px 5px #000;
}
.index-content ul li a:hover,
#li-name .name:hover {
    color:#fff;
    text-shadow:0 0 2px #fff;
}
.index-content ul li a::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight:400;
    font-size:24px;
}
.index-content ul li a.fa-linkedin::before {
    font-family: "Font Awesome 5 Free";
    content: "\f08c";
}
.index-content ul li a.fa-github-square::before {
    font-family: "Font Awesome 5 Free";
    content: "\f092";
}
.index-content ul li a.fa-folder::before {
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
}

.name {
    font-size:70px;
    font-family:'Fugaz One',sans-serif;
    transform: scaleY(1.1);
    text-shadow:2px 2px 15px #000;
    display:block;
}
.sup-text {
    font-size: 24px;
    font-family: Courier;
    overflow: hidden; 
    border-right: 4px solid #ff9c00;
    color:#d7e7ce;
    white-space: nowrap;
    letter-spacing: 5px;
    font-weight:700;
    width:390px;
    animation: 
        typing 4s steps(20, end),
        blink-caret .8s step-end infinite;
    text-shadow:2px 2px 15px #000;
}
@keyframes typing {
    from { width: 0 }
    to { width: 390px }
  }
@keyframes blink-caret {
    from, to { border-color: #ff9c00; }
    50% { border-color: transparent; }
}
.sub-text {
    font-size:20px;
}
#skills-page,
#portfolio-page {
    min-height:100vh;
}
#skills-page {
    position:relative;
    background-color:#ebdbdb;
}
#portfolio-page {
    position:relative;
    background-color:#d4e7d8;
}
.fixed-top {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    background: rgba(0, 0, 0, 0.7);
    padding-left:15%;
    padding-bottom:20px;
}
#li-name {
    width:170px;
    display:none;    
}
#li-name .name {
    cursor: pointer;
    font-family:'Fugaz One',sans-serif;
    font-size:24px;
    margin:-15px 0;
}
.elbox {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);    
    min-height:160px;
    font-size:16px;
}
.elbox li {
    display:inline-block;
    margin-right:12px;
}
.mycontainer {
    padding:0px;
    margin:0 5px;
}
.lesspad {
    padding:10px;
}
.contentbox img {
    max-width: 120px;
}
.media-body {
    margin-top:15px;
}
